
 

     <!-- <mat-card class="m-6 mb-0 ">
            <mat-card-content class="!flex !items-center !p-8">
            

                   <img class="
                   w-auto h-20 sm:h-10 md:h-12 lg:h-16 xl:h-20 min-h-10 xs:h-8  object-contain
                   " src="assets/bitcoin-btc-logo.svg" alt="btc-logo">
             
                   <span class="
                           flex items-center gap-5
                           text-lg sm:text-xl md:text-2xl lg:text-4xl">BTC
                   </span>
                 
                   <div class="flex-1"></div>

                <div class="basis-3/8 ">
                        <span class="sm:text-xl md:text-2xl lg:text-3xl">Price:</span>
                        <span class="sm:text-2xl md:text-2xl lg:text-3xl"> $</span>
                </div>

                <div class="basis-3/8">
                        <span class="sm:text-xl md:text-2xl lg:text-3xl ">Volume:</span>
                        <span class="sm:text-2xl md:text-2xl lg:text-3xl"> $</span>
                </div>
          
        </mat-card-content>
    </mat-card>

    <mat-card class="m-8 mt-4">
        <mat-card-content class="!flex !items-center !p-8">

                <div class="flex items-center gap-5 basis-1/4">
                    <img class="aspect-1/2 w-20 h-20 object-contain " src="assets/ethereum-eth-logo.svg" alt="btc-logo">
                    <p class="text-4xl">ETH</p>
                </div>

                <div class="basis-2/5">
                    <span class="text-3xl">Current Price:</span>
                    <span class="text-3xl"> $</span>
                </div>

                <div class="basis-2/5">
                    <span class="text-3xl ">Volume:</span>
                    <span class="text-3xl"> $</span>
                </div>
      
    </mat-card-content>
</mat-card> -->

<div class="my-8 mx-4 md:mx-8 grid grid-cols-2 gap-4">

    <mat-card class="p-2 !bg-white !col-span-2 sm:!col-span-1">
        <mat-card-content class="items-center
            xl:!flex !xl:gap-5
            place-content-around
            ">
    
                <div class=" flex items-center mb-4 xl:mb-0">
                    <img class="w-12 h-12 mr-4" src="assets/bitcoin-btc-logo.svg" alt="btc-logo">
                    <h2 class="text-xl font-bold flex gap-1">BTC <span class="text-gray-500">(Bitcoin)</span></h2>
                </div>
    
                <div class="flex gap-4 text-gray-700 place-content-around">
                    
                    <div class="flex gap-2">
                        <span class="font-bold">Price</span>
                        <span class=""> $XX,XXX</span>
                    </div>        
                    <div class="flex gap-2">
                        <span class="font-bold">Volume</span>
                        <span class=""> $XX,XXX</span>
                    </div>
                </div>            
      
    </mat-card-content>
    </mat-card>

    <mat-card class="p-2 !bg-white !col-span-2 sm:!col-span-1">
        <mat-card-content class="items-center
            xl:!flex xl:gap-5
            place-content-around
            ">
    
                <div class=" flex items-center mb-4 xl:mb-0">
                    <img class="w-12 h-12 mr-4" src="assets/ethereum-eth-logo.svg" alt="btc-logo">
                    <h2 class="text-xl font-bold flex gap-1">ETH <span class="text-gray-500">(Ethereum)</span></h2>
                </div>
    
                <div class="flex gap-4 text-gray-700 place-content-around">
                    
                    <div class="flex gap-2">
                        <span class="font-bold">Price</span>
                        <span class=""> $XX,XXX</span>
                    </div>        
                    <div class="flex gap-2">
                        <span class="font-bold">Volume</span>
                        <span class=""> $XX,XXX</span>
                    </div>
                </div>            
      
    </mat-card-content>
    </mat-card>
    
    
    
</div>
